@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=MedievalSharp&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

*{

    cursor: url('../../resources/img/cursor.png') 24 5, auto;
    user-select: none;

}

*:active{

    cursor: url('../../resources/img/cursor-click.png') 24 5, auto;

}

a {

    text-decoration: none;

}