.fade-in {

    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.055, 0.72, 0.365, 1);
}


@keyframes fadein {

    0%{

        top: calc((90vw / 4) + 40px);
        opacity: 0;

    }

    20%{

        top: calc((90vw / 4) + 40px);
        opacity: 0;

    }

    70%{

        opacity: 1;

    }

    100%{

        top: 0;

    }
    
}