.fade-in {

    animation: fadein 2s ease-in-out forwards;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.055, 0.72, 0.365, 1);
}


@keyframes fadein {

    0%{

        top: calc((90vw / 4) + 40px);
        opacity: 0;

    }

    20%{

        top: calc((90vw / 4) + 40px);
        opacity: 0;

    }

    70%{

        opacity: 1;

    }

    100%{

        top: 0;

    }
    
}

.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}